*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    /* justify-content: space-; */
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.a{
    font-size: 20px;
    text-decoration: none;
    color: grey;
}
.a1{
    position: relative;
    left: 600px;
   
}
.a2{
    position: relative;
    left: 390px;
}
.a3{
    position: relative;
    left: 170px;
}
.a4{
    position: relative;
    right: 50px;
}
.nav{
    height: 200px;
    background-color:rgb(100, 182, 214);
    display: flex;
    margin: 20px;
}
input{
    height: 40px;
    width: 400px;
    position: relative;
    top: 80px;
    left: 300px;
    border-color: white;
    font-size: 18px;
}
.b1{
    position: relative;
    top: 25px;
    left: 250px;
}
.b11{
    position: relative;
    font-size: 25px;
    left: 20px;
    color: rgb(48, 77, 67);
}
.b12{
    position: relative;
    top: 60px;
    left: 20px;
    
}
.first content{
    display: flex;
    flex-direction: column;
}
.photo{
    display: flex;
    height: 300px;
    width: 500px;
}
.photo p{
    font-size: 20px;
    color: rgb(65, 118, 100);
    position: relative;
    left: 30px;
}
.para{
    display: flex;
    /* height: 500px; */
    width: 920px;
    position: relative;
    left: 550px;
    bottom: 250px;
    line-height: 40px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 2px;
    color: grey;
}
.second content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.left{
    display:flex;
    float: left;
    position: relative;
    left: 50px;
    bottom: 150px;
    color: rgb(59, 100, 86);
}
.left p{
    position: relative;
    top: 50px;
    font-size: 18px;
    right: 305px;
    text-align: justify;
    line-height: 30px;
}
.right{
    float: right;
    position: relative;
    bottom: 250px;
    /* right: 100px; */
    color: rgb(66, 111, 96);
}
.right p{
    position: relative;
    top: 40px;
    font-size: 18px;
    /* right: 305px; */
    text-align: justify;
    line-height: 30px;
}
.device{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.device1{
    position: relative;
    left: 100px;
    height: 150px;
    width: 150px;
}
.device2{
    position: relative;
    left: 300px;
    height: 150px;
    width: 150px;
}
.device3{
    position: relative;
    left: 500px;
    height: 150px;
    width: 150px;
}
.read{
    height: 30px;
    width: 300px;
}
.read1{
    height: 40px;
    width: 300px;
    background-color: aquamarine;
    text-align: center;
    color:grey;
    position: relative;
    left: 600px;
    border-radius: 10px;
    font-size: 18px;
}
.content1{
    margin-top: 50px;
    background-color: rgb(225, 217, 217);
    height:400px;
}
.sub{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 80px;
}
.h{
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 40px;
}
.h1{
    position: relative;
    left: 340px;
}
.h2{
    position: relative;
    left: 170px;
}
.h3{
    position: relative;

}
.h4{
    position: relative;
    right: 170px;
}
.h11{
    position: relative;
    left: 50px;
    /* top: 10px; */
    bottom: 20px;
    color: rgb(45, 92, 76);
}
.h12{
    position: relative;
    left: 300px;
    /* top: 10px; */
    bottom: 20px;
    color: rgb(45, 92, 76);
}
.content li{
    position: relative;
    /* left: 400px; */
}
.sub2{
    display: flex;
    justify-content: space-around;
}
.sub2 .p1{
    position: relative;
    right: 30px;
    line-height: 30px;
    font-size: 16px;
    color: grey;
}
.sub2 .ul1{
    position: relative;
    right: 140px;
    list-style: none;
    line-height: 30px;
    color: grey;
}
.sub2 .ul2{
    position: relative;
    top: 30px;
    right: 100px;
    list-style: none;
    color: grey;
}
.a1:hover{
    color: blue;
    text-decoration: underline 5px blue;
    line-height: 30px;

}
.a2:hover{
    color: green;
    text-decoration: underline 5px green;

}
.a3:hover{
    color: orange;
    text-decoration: underline 5px orange;

}
.a4:hover{
    color: darkviolet;
    text-decoration: underline 5px darkviolet;

}
