*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    /* justify-content: space-; */
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    text-wrap: wrap;
}
.a1:hover{
    color: blue;
    text-decoration: underline 5px blue;
    line-height: 30px;

}
.a2:hover{
    color: green;
    text-decoration: underline 5px green;

}
.a3:hover{
    color: orange;
    text-decoration: underline 5px orange;

}
.a4:hover{
    color: darkviolet;
    text-decoration: underline 5px darkviolet;

}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.a{
    font-size: 20px;
    text-decoration: none;
    color: grey;
}
.a1{
    position: relative;
    left: 600px;
   
}
.a2{
    position: relative;
    left: 390px;
}
.a3{
    position: relative;
    left: 170px;
}
.a4{
    position: relative;
    right: 50px;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.b11{
    color: rgb(69, 143, 118);
    font-size: 30px;
    position: relative;
    top: 50px;
    left: 50px;
}
.b12{
    position: relative;
    right: 40px;
    color: rgb(85, 151, 129);
    font-size: 20px;
}
.heading button{
    height: 40px;
    width: 40px;
}
.nav{
    height: 200px;
    background-color:rgb(100, 182, 214);
    display: flex;
}
input{
    height: 40px;
    width: 400px;
    position: relative;
    top: 80px;
    left: 300px;
    border-color: white;
    font-size: 18px;
}
.b1{
    position: relative;
    top: 25px;
    left: 250px;
}
.b2{
    font-size: 30px;
    color: rgb(24, 90, 65);
    position: relative;
    left:30px;
}
.ba{
    font-size:20px;
    position: relative;
    top: 5px;
    left: 1100px;
}
.cart{
    margin-top: 60px;
    position: relative;
    /* height:300px; */
    display: flex;
    justify-content: space-around;
}
.c{
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-; */
    width: 350px;
    height: 200px;
    /* position: relative;
    top: 100px;
    right: 150px; */
}
#cart1{
    /* <p class="b2">Latest Photos</p>
    <p class="ba">Page 1 of 200</p> */
    display: flex;
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.cart11{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: grey;
    padding-top: 20px;
}
.d{
    height: 200px;
    width: 350px;
}
.e{
    height: 200px;
    width: 350px;
}
#cart2{
    display: flex;
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.f{
    height: 200px;
    width: 350px;
}
#cart3{
    display: flex;
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
#content{
    margin-top: 40px;
    display: flex;
}
 button{
    margin-top: 50px;
    margin-left: 30px;
    height: 50px;
    width: 250px;
}
.g1{
    position: relative;
    left: 60px;
    border: 1px solid white;
    border-radius: 10px;
}
.g{
    height: 60px;
    width: 60px;
    position: relative;
    bottom: 5px;
    left: 300px;
    color:grey;
    border: 1px solid white;
    border-radius: 10px ;
}
.g:hover{
    color: white;
    background-color: aquamarine;
}
.g2{
    position: relative;
    left: 500px;
    background-color: aquamarine;
    border: 1px solid white;
    border-radius: 10px;
}
.content1{
    margin-top: 50px;
    background-color: rgb(225, 217, 217);
    height:400px;
}
.sub{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 80px;
}
.h{
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 50px;
}
.h1{
    position: relative;
    left: 340px;
}
.h2{
    position: relative;
    left: 170px;
}
.h3{
    position: relative;

}
.h4{
    position: relative;
    right: 170px;
}
.h11{
    position: relative;
    left: 50px;
    top: 10px;
    color: rgb(45, 92, 76);
}
.h12{
    position: relative;
    left: 300px;
    top: 10px;
    color: rgb(45, 92, 76);
}
.content li{
    position: relative;
    /* left: 400px; */
}
.sub2{
    display: flex;
    justify-content: space-around;
}
.sub2 .p1{
    position: relative;
    right: 30px;
    line-height: 30px;
    font-size: 16px;
    color: grey;
}
.sub2 .ul1{
    position: relative;
    right: 140px;
    list-style: none;
    line-height: 30px;
    color: grey;
}
.sub2 .ul2{
    position: relative;
    top: 30px;
    right: 100px;
    list-style: none;
    color: grey;
}